footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 36px;
}
footer a:hover {
    color: blue;
}
footer p {
    margin-top: 20px; 
    text-align: center;
 }
 body {
    padding: 0px 50px;
}
header {
text-align: center;
margin-bottom: 40px;
}
