ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 36px;
}

nav a:hover {
    color: blue;
}

a {
    color: black;
    text-decoration: none;
    font-size: large;
    border: solid 2px;
    padding: 5px;
}

h1 {
  color: blue;
}

h2 {
  border: solid 1px yellow;
  margin: 36px;
  padding: 10px;
}
p {
  display: flex;
  justify-content: space-around;
}
header {
    text-align: center;
    margin-bottom: 40px;
    background-color: white;
}

main{
    text-align: center;
    margin-bottom: 40px;

}

footer ul {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 40px
}

footer a:hover {
    color: blue;
}

footer p {
   margin-top: 20px;
   text-align: center;
}

body {
    padding: 0px 50px;
}

p {
    font-size: medium;
}
